html, body {
    padding: 0;
    padding-top: 2%;
    margin: 0;
    background: #FBFAF9;
    color: #141E46;
    display: flex;
    justify-content: center;
}

a {
    color: #141E46;
    text-decoration: none;
}

h4 {
    color: #999999;
}